/* styles.css */
body{
    overflow-x: hidden;
}

.tabsContainer {
    background-color: #1a1a1a; /* Dark background for the tabs */
    border-radius: 8px;       /* Rounded corners */
    padding: 1rem;            /* Padding inside the tabs */
}

.tabsList {
    margin-bottom: 1rem;      /* Space between the tab list and the content */
}

.tab {
    font-weight: bold;        /* Bold text for tab labels */
    color: #ffffff;           /* White text color */
}

.tabPanel {
    padding: 1rem;           /* Padding inside the tab panels */
    background-color: #ffffff; /* White background for tab content */
    border-radius: 4px;      /* Rounded corners for the content */
}

.food-item {
    margin-top: 10px;
    padding: 1rem;
    border-radius: 12px; /* Rounded corners */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.1rem; /* Space between items */
    color: black;
    width: 100%; /* Make the item take full width */
}

