body{
    overflow-x: hidden;
}

.mantine-Tabs-tab {
    padding: 20px 20px; 
    margin: 0 5px; 
    transition: background-color 0.5s; 
}

.mantine-Tabs-tab:hover {
    background-color: #555; 
    color: #ffffff;
}

.food-item {
    margin: 10px auto 1px; 
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    width: calc(100% - 40px); 
    max-width: 99vw;
}
